.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.btn-review{
    width: 100%;
    text-align: left;
    border-radius: 4px;
    margin-top: 10px;
    border: none;
    background-color: orange;
    color: white;
}
.pagination{
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pagination .selected{
    background-color: #FF9900;
}